.content-wrapper {
    padding-top: 120px;
}

.page-layout {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 767px) {
    .page-layout {
        padding-top: 50px;
    }
}