.article.media {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 224, 255, 0.75);
    box-sizing: border-box;
    border-radius: 1.5vw;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .media-body {
        width: 100%;
    }
    .thumbnail {
        width: 8vw;
        margin-right: 2vw;
    }

    .title {
        font-family: Questrial;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        line-height: 2.5vw;
        display: flex;
        align-items: center;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    .text,
    .footer {
        font-family: Questrial;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vw;
        line-height: 25px;
        display: flex;
        align-items: center;
        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1vw;

        a {
            text-decoration: none;
            color: var(--primary-color);
        }

        .btn.more {
            background: var(--primary-color);
            border-radius: 25px;
            transform: rotate(-2deg);
            padding: 1;
            color: white;
            font-size: 1.5vw;

        }
    }

}

@media(max-width: 767px) {
    .article.media {
        .thumbnail {
            width: 72px;
            margin-right: 13px;
        }

        .title {
            font-family: Questrial;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;

            color: #FFFFFF;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }

        .text,
        .footer {
            font-family: Questrial;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            display: flex;
            align-items: center;
            color: #FFFFFF;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1vw;

            a {
                text-decoration: none;
                color: var(--primary-color);
            }

            .btn.more {
                background: var(--primary-color);
                border-radius: 25px;
                transform: rotate(-2deg);
                padding: 1;
                color: white;
                font-size: 10px;
            }
        }

    }
}