.wrapper {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper .first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapper .first-section .play-now {
  margin: 139px auto 197px auto;
}

.wrapper .first-section .top1 {
  width: 658px;
  height: 658px;
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper .first-section .top2 {
  width: 575px;
  height: 575px;
  position: absolute;
  right: 0;
  bottom: 100px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.wrapper .middle-bar {
  width: 100%;
  height: 192px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(21, 29, 48, 0.95);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: visible;
  padding: 0 42px;
}

.wrapper .middle-bar .background-img {
  position: absolute;
  width: 152px;
  height: 141px;
  left: calc(50% - 76px);
}

.wrapper .middle-bar .second1 {
  width: 184px;
  height: 166px;
  z-index: 1;
}

.wrapper .middle-bar .second2 {
  width: 353px;
  height: 353px;
  z-index: 1;
}

.wrapper .middle-bar .second3 {
  width: 350px;
  height: 346px;
  z-index: 1;
}

.wrapper .middle-bar .second4 {
  width: 142px;
  height: 169px;
  z-index: 1;
}

.wrapper .middle-bar .fade {
  opacity: 0.05;
}

.wrapper .middle-bar .title {
  font-family: Orbitron;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.wrapper .second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 980px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper .second-section .left-section,
.wrapper .second-section .right-section {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .second-section .left-section .character-item,
.wrapper .second-section .right-section .character-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.wrapper .second-section .left-section .character-item .character-name-layout,
.wrapper .second-section .right-section .character-item .character-name-layout {
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #00B6F0;
  position: absolute;
  padding: 30px 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wrapper .second-section .left-section .character-item .character-name-layout .character-name,
.wrapper .second-section .right-section .character-item .character-name-layout .character-name {
  z-index: 1;
}

.wrapper .second-section .left-section .character-item .character-name-layout img,
.wrapper .second-section .right-section .character-item .character-name-layout img {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
}

.wrapper .second-section .left-section .character-item img,
.wrapper .second-section .right-section .character-item img {
  max-height: 100%;
}

.wrapper .second-section .left-section .character-item.offset {
  margin-left: -350px;
}

.wrapper .second-section .left-section .character-name-layout {
  left: 10px;
  top: -80px;
  -webkit-transform: rotate(-11.16deg);
          transform: rotate(-11.16deg);
}

.wrapper .second-section .right-section .character-item.offset {
  margin-right: -350px;
}

.wrapper .second-section .right-section .character-name-layout {
  right: 10px;
  top: -80px;
  -webkit-transform: rotate(11.16deg);
          transform: rotate(11.16deg);
}

.wrapper .second-section .middle-section {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.wrapper .second-section .middle-section .logo {
  width: 290px;
  height: 290px;
}

.wrapper .second-section .middle-section .title-wrapper {
  position: relative;
  width: 478px;
  height: 153px;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .second-section .middle-section .title-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper .second-section .middle-section .title-wrapper .title-layout {
  z-index: 1;
}

.wrapper .second-section .middle-section .title-wrapper .title {
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .second-section .middle-section .title-wrapper .title.primary {
  color: var(--primary-color);
}
/*# sourceMappingURL=home.css.map */