.wrapper {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .play-now {
      margin: 6vw auto 8vw auto;
    }

    .top1 {
      width: 23vw;
      position: absolute;
      left: 0;
      top: 0;
    }

    .top2 {
      width: 21vw;
      position: absolute;
      right: 0;
      bottom: 3vw;
      transform: rotate(-30deg);
    }
  }

  .middle-bar {
    width: 100%;
    height: 7vw;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(21, 29, 48, 0.95);
    justify-content: space-between;
    overflow: visible;
    padding: 0 42px;

    .background-img {
      position: absolute;
      width: 6vw;
      left: calc(50% - 3vw);
    }

    .second1 {
      width: 6vw;
      z-index: 1;
    }

    .second2 {
      width: 12vw;
      z-index: 1;
    }

    .second3 {
      width: 12vw;
      z-index: 1;
    }

    .second4 {
      width: 6vw;
      z-index: 1;
    }
    .bottom-offset {
      margin-bottom: -50px;
    }

    .fade {
      opacity: 0.05;
    }

    .title {
      font-family: Orbitron;
      font-style: normal;
      font-weight: bold;
      font-size: 2.5vw;
      line-height: 3vw;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 1;
    }
  }

  .third-section {
    padding: 2vw;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .main {
      width: 60%;
      height: fit-content;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .others {
      position: relative;
      width: 40%;
   
      .text-layout {
        position: absolute;
        left: 0%;
        right: 1.25%;
        top: 8.42%;
        bottom: -0.06%;
        
        background: rgba(90, 35, 207, 0.22);
        border: 2px solid #1AA0BD;
        box-sizing: border-box;
        border-radius: 27px;
        transform: rotate(-2deg);
        width: fit-content;
        height: fit-content;
        z-index: 2;
        .text {
          font-family: Questrial;
          font-style: normal;
          font-weight: normal;
          font-size: 3vw;
          line-height: 148.5%;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.04em;
          color: #FFFFFF;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transform: matrix(1, -0.03, 0.03, 1, 0, 0);
        }
      }
      .img1 {
        position: absolute;
        right: 1vw;
        top: 1vw;
        width: 10vw;
      }
      .img2 {
        position: absolute;
        top: calc(60% );
        left: calc(50%);
        width: 12vw;
        z-index: 1;
      }
      .img3 {
        position: absolute;
        top: calc(50% - 8vw);
        right: 4vw;
        width: 20vw;
      }
    }
  }
  .fourth-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 4vw 0;
    .background{
      position: absolute;
      width: 40%;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 0;
      opacity: 0.2;
    }
    .article-wrapper {
      z-index: 1;
      width: 40%;
      margin-bottom: 2vw;
    }
  }
  .border {
      width: 12vw;
      height: 2px;
      background: var(--primary-color);
      position: absolute;
      bottom: 0;
      left: calc(50% - 6vw);
  }
}

@media(max-width: 767px) {

  .wrapper .first-section .top1 {
    width: 146px;
    height: 146px;
  }

  .wrapper .first-section .top2 {
    width: 142px;
    height: 142px;
  }
}