.wrapper {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper .first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper .first-section .play-now {
  margin: 6vw auto 8vw auto;
}

.wrapper .first-section .top1 {
  width: 36vw;
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper .first-section .top2 {
  width: 30vw;
  position: absolute;
  right: 0;
  bottom: 3vw;
}

.wrapper .middle-bar {
  width: 100%;
  height: 8vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(21, 29, 48, 0.95);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: visible;
  padding: 0 42px;
}

.wrapper .middle-bar .background-img {
  position: absolute;
  width: 6vw;
  left: calc(50% - 3vw);
}

.wrapper .middle-bar .second1 {
  width: 6vw;
  z-index: 1;
}

.wrapper .middle-bar .second2 {
  width: 12vw;
  z-index: 1;
}

.wrapper .middle-bar .second3 {
  width: 12vw;
  z-index: 1;
}

.wrapper .middle-bar .second4 {
  width: 6vw;
  z-index: 1;
}

.wrapper .middle-bar .bottom-offset {
  margin-bottom: -3.5vw;
}

.wrapper .middle-bar .fade {
  opacity: 0.05;
}

.wrapper .middle-bar .title {
  font-family: Orbitron;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.wrapper .third-section {
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper .third-section .main {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.wrapper .third-section .main img {
  width: 100%;
  height: 100%;
}

.wrapper .third-section .others {
  position: relative;
  width: 40%;
}

.wrapper .third-section .others .text-layout {
  position: absolute;
  left: 0%;
  right: 1.25%;
  top: 8.42%;
  bottom: -0.06%;
  padding: 5px;
  background: rgba(90, 35, 207, 0.22);
  border: 2px solid #1AA0BD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 27px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
}

.wrapper .third-section .others .text-layout .text {
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 148.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper .third-section .others .responsive-text-layout {
  display: none;
}

.wrapper .third-section .others .img1 {
  position: absolute;
  right: 1vw;
  top: 1vw;
  width: 10vw;
}

.wrapper .third-section .others .img2 {
  position: absolute;
  top: calc(60%);
  left: calc(50%);
  width: 12vw;
  z-index: 1;
}

.wrapper .third-section .others .img2-responsive {
  display: none;
}

.wrapper .third-section .others .img3 {
  position: absolute;
  top: calc(50% - 8vw);
  right: 4vw;
  width: 20vw;
}

.wrapper .fourth-section {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4vw;
}

.wrapper .fourth-section .background {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  opacity: 0.2;
}

.wrapper .fourth-section .article-wrapper {
  z-index: 1;
  width: 40%;
  margin-bottom: 2vw;
}

.wrapper .fifth-section {
  display: none;
}

.wrapper .border {
  width: 12vw;
  height: 2px;
  position: absolute;
  border: none !important;
  bottom: 0;
  left: calc(50% - 6vw);
}

@media (max-width: 767px) {
  .wrapper .first-section .top1 {
    width: 146px;
    height: 146px;
  }
  .wrapper .first-section .top2 {
    width: 142px;
    height: 142px;
  }
  .wrapper .second-section {
    display: none;
  }
  .wrapper .third-section {
    background: none !important;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .third-section .others {
    width: 100%;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
  }
  .wrapper .third-section .others .img3 {
    display: none;
  }
  .wrapper .third-section .others .img1 {
    display: none;
  }
  .wrapper .third-section .others .img2 {
    position: unset;
    width: 177px;
    margin: auto;
  }
  .wrapper .third-section .others .img2-responsive {
    position: absolute;
    width: 101px;
    right: 10px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper .third-section .others .text-layout {
    width: 40%;
    right: 10px;
    top: 30px;
    left: auto;
    bottom: auto;
    padding: 10px;
  }
  .wrapper .third-section .others .responsive-text-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 15px 30px;
  }
  .wrapper .third-section .main {
    width: 100%;
  }
  .wrapper .middle-bar {
    display: none;
  }
  .wrapper .fourth-section {
    background: none;
  }
  .wrapper .fourth-section .background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .wrapper .fourth-section .article-wrapper {
    width: 100%;
  }
  .wrapper .fifth-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .fifth-section .info {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .fifth-section .info .text-layout {
    background: rgba(76, 93, 138, 0.5);
    border-radius: 12px;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
  }
  .wrapper .fifth-section .info .command {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 30px;
  }
  .wrapper .fifth-section .info .command .text-layout {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 20px;
    -webkit-transform: none;
            transform: none;
  }
  .wrapper .fifth-section .info .command .text-layout a {
    color: var(--primary-color);
    text-decoration: none;
  }
  .wrapper .fifth-section .info .command img {
    position: absolute;
    width: 64px;
    height: auto;
    right: -20px;
    top: -20px;
  }
  .wrapper .fifth-section .character-layout {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=home.css.map */