

.page-header-wrapper {
    width: 100%;
    display: flex;
    position: absolute;
    .left-wrapper {
        width: 536px;
        height: 120px;
        z-index: 2;
    }
    .center-wrapper {
        flex: 1;
        margin: 0 -84px;
        height: 75px;
        z-index: 1;
    }
    .right-wrapper {
        width: 536px;
        height: 120px;
        z-index: 2;
    }
}


