.play-now-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4vw;
  width: 32vw;
  height: 45vw;
  background: rgba(12, 29, 61, 0.5);
  border-radius: 24px;
  position: relative;
}

.play-now-wrapper .background-img {
  opacity: 0.05;
  width: 90%;
  height: auto;
  position: absolute;
  top: 0;
}

.play-now-wrapper .logo {
  width: 11vw;
}

.play-now-wrapper .logo-text {
  width: 20vw;
  margin: 1vw auto 2vw auto;
}

.play-now-wrapper .text-wrapper {
  border: 2px solid var(--primary-color);
  border-radius: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1vw 10%;
}

.play-now-wrapper .text-wrapper .title {
  font-family: Questrial;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FF8B02;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  margin: 0;
}

.play-now-wrapper .text-wrapper .description {
  text-align: center;
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  padding: 1vw 0;
}

.play-now-wrapper .play-button {
  width: 12vw;
  margin-top: 3vw;
}

@media (max-width: 767px) and (max-device-width: 767px) {
  .play-now-wrapper {
    width: 90vw;
    height: 566px;
  }
  .play-now-wrapper .text-wrapper {
    padding: 10px 10%;
  }
  .play-now-wrapper .text-wrapper .title {
    font-size: 18px;
    line-height: 20px;
  }
  .play-now-wrapper .text-wrapper .description {
    font-size: 18px;
    line-height: 18px;
  }
  .play-now-wrapper .logo {
    width: 187px;
    height: 173px;
  }
  .play-now-wrapper .logo-text {
    width: 280px;
    height: 56px;
    margin: 18px auto 32px auto;
  }
  .play-now-wrapper .play-button {
    width: 155px;
    height: 55px;
    margin-top: 32px;
  }
}
/*# sourceMappingURL=playNow.css.map */