.navbar-header {
    width: 100% !important;
    background: rgba(#273D4D, 0.8);

    * {
        height: 100%;
    }

    justify-content: center !important;
    padding: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    a:hover {
        color: var(--primary-color) !important;
    }

    .navbar-center {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

}

.navbar-dark .navbar-toggler-icon {
    height: 80%;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    padding: 0 !important;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.navbar-dark .navbar-toggler {
    padding: 0 !important;
    display: none ;
}
.collapse:not(.show) {
    display: flex !important;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 10% !important;
    padding-right: 10% !important;
    height: 100%;

    .menu-item {
        position: relative;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-background-img {
            position: absolute;
            height: auto;
            height: 3.5vw;
            margin: auto;
            opacity: 0.5;
        }

        a {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: Prompt;
            font-style: normal;
            font-weight: normal;
            font-size: 1.3vw;
            line-height: 32px;
            color: white;
            text-transform: uppercase;
        }
    }

    .menu-item:not(:last-child) {
        border-right: 1px solid var(--primary-color);
    }
}

@media(min-width: 992px) and (min-device-width: 992px) {
    .nav-list {
        .navbar-nav {
            flex-direction: row !important;
            .collapse:not(.show) {
                display: flex;
            }
        }
    }
    
}

@media(max-width: 991px) and (max-device-width: 991px) {
    .nav-list {
        .menu-background-img {
            display: none;
        }

        align-items: center;
        background: rgba(12, 29, 61, 0.7);
        width: fit-content;
    }

    .navbar-center {
        height: fit-content;
    }

    .menu-item {
        padding: 0;
        border-right: none !important;
    }
    .navbar-dark .navbar-toggler {
        display: flex !important;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: column !important;
        display: flex; 
    }
    .collapse:not(.show) {
        display: none !important;
    }
}

@media(max-width: 767px) and (max-device-width: 767px) {
    .nav-list {
        .menu-item {
            a {
                font-size: 14px;
                line-height: 20px;
                color: white;
                text-transform: uppercase;
            }
        }
    }
}