.navbar-header {
  width: 100% !important;
  background: rgba(39, 61, 77, 0.8);
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  padding: 0 !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.navbar-header * {
  height: 100%;
}

.navbar-header a:hover {
  color: var(--primary-color) !important;
}

.navbar-header .navbar-center {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-dark .navbar-toggler-icon {
  height: 80%;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  padding: 0 !important;
}

.navbar-expand-lg .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-dark .navbar-toggler {
  padding: 0 !important;
  display: none;
}

.collapse:not(.show) {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10% !important;
  padding-right: 10% !important;
  height: 100%;
}

.nav-list .menu-item {
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .menu-item .menu-background-img {
  position: absolute;
  height: auto;
  height: 3.5vw;
  margin: auto;
  opacity: 0.5;
}

.nav-list .menu-item a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
}

.nav-list .menu-item:not(:last-child) {
  border-right: 1px solid var(--primary-color);
}

@media (min-width: 992px) and (min-device-width: 992px) {
  .nav-list .navbar-nav {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .nav-list .navbar-nav .collapse:not(.show) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 991px) and (max-device-width: 991px) {
  .nav-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(12, 29, 61, 0.7);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav-list .menu-background-img {
    display: none;
  }
  .navbar-center {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .menu-item {
    padding: 0;
    border-right: none !important;
  }
  .navbar-dark .navbar-toggler {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .collapse:not(.show) {
    display: none !important;
  }
}

@media (max-width: 767px) and (max-device-width: 767px) {
  .nav-list .menu-item a {
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
  }
}
/*# sourceMappingURL=centerHeader.css.map */